
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.invisible {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
}

.fadeInUp img {
    width: 400px;
    height: 100%;
}
